
// Custom

* {
	outline: 1px solid pink !important;
}

body {
	background: #e8e8e8;
	color: #747704;
	font-family: 'texgyreadventorregular', sans-serif;
	font-weight: 300;
}

hr {
	border-color: #B9C1BF;
	border-width: 5px;
}

// Header

header {

}

// Feature

.feature {
	text-align: center;
}

// Featured Work

.featured-work {
	
		figure {
	    margin: auto;
	    padding: 0;
	    max-width: 400px;
		}
	
}

// Footer

footer {
	text-align: center;
}