
// Custom

* {
	outline: 1px solid pink !important;
}

body {
	background: #e8e8e8;
	font-family: 'texgyreadventorregular', sans-serif;
	font-weight: 300;
}

#{ headings(all) } {
	font-family: 'texgyreadventorbold', sans-serif;
	font-weight: 700;
}

// Header

header {

	nav {
		@include float-right;
		@include clearfix;
		margin-top: 15px;
	}

}

// Feature

.feature {
	height: 100%;
}

// Featured Work

.featured-work {
		padding: 10% 0;
	
		figure {
	    margin: auto;
	    padding: 0;
	    max-width: 400px;
		}
	
}

// Footer

footer {
	height: 400px;
	padding: 5% 0;
}