
// Custom

* {
	outline: 1px solid pink !important;
}

// Vertical Rhythm

$rhythm-unit: 'rem';
$font-unit: 1rem;
$base-font-size: $rem-base;
$base-line-height: $rem-base * 1.5;
@include establish-baseline;

body {
	background: #e8e8e8;
	font-family: $font-normal, sans-serif;
	@include debug-vertical-alignment;
}

#{ headings(all) } {
	font-family: $font-bold, sans-serif;
	font-weight: 700;
	margin-bottom: rhythm(1);
}

p {
	@include leader;
	@include trailer;
}

a {
	@include link-colors(#222222, #222222);
	font-family: $font-bold;
	font-weight: 700;
	&:hover {
		border-bottom: 3px solid #222222;
	}
}

// Header

header {
	position: absolute;
	width: 100%;
	nav {
		position: absolute;
		right: 0;
		top: 23px;
		width: 150px;
	}

}

// Feature

.feature {
	//background: image-url('bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	padding-top: 150px;
}

// Featured Work

.featured-work {
		padding: 10% 0;
	
		figure {
			@include background(linear-gradient(320deg, transparent 13px, #ffffff 13px));
			@include border-radius(5px);
	    margin: auto;
	    padding: 5px;
	    max-width: 400px;
	    figcaption {
			@include background(linear-gradient(320deg, transparent 13px, #ffffff 13px));
	    	font-family: $font-bold, sans-serif;
	    	font-weight: 700;
	    	padding: 10px;
	    }

		}
	
}

// Footer

footer {
	//background: #2d2d2d;
	height: 400px;
	padding: 5% 0;
}