
// Footer

footer {
  background: #444444;
  color: #666;
  padding: 4.85rem 0 0.5rem;

  h5 {
    color: #888888;
    font-family: $font-family;
    font-size: 2.1rem;
    font-weight: 700;
    //text-shadow: 1px, 1px, 1px, inset, rgba(127, 127, 127, 0.3);

    @media #{$large-up} {
      font-size: 2.5rem;
    }
  }

  p {
    color: #999999;
    font-size: 1.1rem;
    line-height: 2;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
  }

  .email {
    margin-bottom: 40px;

    a {
      color: #888888;
      font-family: $font-family;
      font-size: 1.5rem;

      @media #{$medium-up} {
        font-size: 1.8rem;
      }

      &:hover,
      &:focus,
      &:active {
        border-bottom: 2px solid #f9f9f9;
        color: white;
      }
    }
  }

  .message {
    font-size: 4.2rem;
    margin: 0 auto 3.8rem auto;
    max-width: 200px;

    a {
      color: #888;

      &:hover,
      &:focus,
      &:active {
        color: #fff;
        cursor: pointer;
      }
    }
  }

  .social {
    margin-bottom: 60px;

    a {
      color: #666;
      font-size: 1.8rem;

      &:hover,
      &:focus,
      &:active {
        color: #fff;
      }
    }
  }
}
