
// Footer

footer {
  background: color(charcoal);
  padding: 4.85rem 0 0.5rem;

  .email {
    margin-bottom: 40px;

    a {
      color: color(suva-grey);
      font-size: 1.5rem;

      @media #{$medium-up} {
        font-size: 1.8rem;
      }

      &:hover,
      &:focus,
      &:active {
        color: color(white);
      }
    }
  }

  .message {
    font-size: 4.2rem;
    margin: 0 auto 3.8rem auto;
    max-width: 200px;

    a {
      color: color(suva-grey);

      &:hover,
      &:focus,
      &:active {
        color: color(white);
        cursor: pointer;
      }
    }
  }

  .social {
    margin-bottom: 60px;

    a {
      color: color(suva-grey);
      font-size: 1.8rem;
      margin: 0 10px;

      &:hover,
      &:focus,
      &:active {
        color: color(white);
      }
    }
  }
}
