
// Header

header {
  position: absolute;
  width: 100%;

  @media #{$large-up} {
    padding: 0 15px;
  }

  .logo {
    margin: 10px 0;
    width: 100px;

    @media #{$large-up} {
      margin: 45px 0;
    }
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    padding: 0;

    a {
      color: color(black);
    }

    @media #{$large-up} {
      font-size: 3.8rem;
      margin-top: 5px;
    }
  }

  .toggle {
    font-size: 2rem;
    position: absolute;
    right: 10px;
    top: 16px;

    &:hover,
    :focus,
    :active {
      cursor: pointer;
    }
  }

  .toggle-menu {
    background: color(white);
    border-radius: 5px;
    height: 75px;
    padding: 5px;
    position: absolute;
    right: 10px;
    top: -100px;
    width: 100px;

    .toggle-close {
      background: color(white);
      border-radius: 999px;
      font-size: 1.3rem;
      position: absolute;
      bottom: -15px;
      left: 37px;
    }

    li {
      list-style: none;

      a {
        color: color(black);
        font-size: 0.9rem;
        font-weight: 700;

        &:hover,
        &:focus,
        &:active {
          border-bottom: 3px solid color(black);
        }
      }
    }
  }

  nav {
    position: absolute;
    right: 15px;
    top: 57px;

    a {
      color: color(black);
      font-size: 1.1rem;
      font-weight: 700;
      transition: border .3s ease;

      &:hover,
      &:focus,
      &:active{
        border-bottom: 3px solid color(black);
        color: color(black);
      }
    }
  }

  &.sticky {
    background: color(off-white);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    height: 40px;
    padding: 2px;
    position: fixed;
    top: 0;
    z-index: 9999;

    .logo {
      margin: 0;
      width: 73px;
    }

    h1 {
      font-size: 1.5rem;
      margin-top: -3px;
    }

    .toggle {
      color: color(night-rider);
      font-size: 1.7rem;
      top: -5px;
      right: 0;
      text-shadow: 1px, 1px, 1px, inset, rgba(127, 127, 127, 0.3);
    }

    nav {
      top: 5px;

      a {
        font-size: 0.9rem;
      }
    }

    a {
      color: color(charcoal);
    }
  }
}
