
@import url('https://fonts.googleapis.com/css?family=Rubik:400,900');

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400');

$font-family-primary: 'Roboto Mono', monospace;
$font-family-secondary: 'Rubik', sans-serif;

body {
  background: color(white-lilac);
  font-family: $font-family-primary;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-secondary;
  font-weight: 700;
}

p {
  font-family: $font-family-primary;
  font-weight: 300;
}
