
// Buttons

button, .button {
  background: linear-gradient(320deg, transparent 5px, #fff 5px);
  transition: all .3s ease;
  border: none;
  color: #222;
  padding: 5px 20px;
  text-transform: uppercase;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  word-spacing: 0.04rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  opacity: 0.9;

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
  }
}
