
// Modal

.reveal-modal {

  h2 {
    font-weight: 700;
    margin-left: 15px;
  }

  p {
    font-size: .96rem;
    margin: 25px 0;
  }

  figure {
    margin: 50px auto;
    max-width: 400px;

    @media #{$medium-up} {
     margin: auto;
    }
  }

  .technical {
    margin-left: 15px;
  }

  .button {
      color: color(white);
      background: linear-gradient(320deg, transparent 5px, color(de-york) 5px);
  }

  .close-reveal-modal {
    font-size: 1.5rem;
    color: color(burnt-sienna);
    top: 5px;
    right: 10px;
    opacity: 0.8;
  }
}

.reveal-modal-bg {
  background-color: rgba(0, 0, 0, 0.85);
}

