
// Featured Projects

.featured-projects {
  margin: -110px 0 100px 0;
  padding: 65px 0 0 0;

  .project {
    background: color(white);
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    display: block;
    margin: auto auto 20px;
    max-width: 400px;
    padding: 5px;
    position: relative;

    .project-hover {
      display: none;
    }

    @media #{$large-up} {

      .project-hover {
        display: none;
        height: 65%;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        width: 70%;
      }

      .project-hover .content {
        color: color(white);
        font-size: 1rem;
        line-height: 1.2;
        margin-top: 38%;
        opacity: .98;
        text-align: center;

        span {
          display: block;
          font-size: 1.4rem;
        }
      }
    }

    &:hover,
    &:focus,
    &:active {
      cursor: pointer;
    }

    h4 {
      color: color(charcoal);
      font-size: 1.09rem;
      font-weight: 700;
      margin: 2px 0;
      padding: 10px;

      @media #{$large-up} {
        font-size: 1.3rem;
      }
    }
  }
}
