
// Feature

.feature {
  background-attachment: fixed;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(color(norway), color(norway-light));
  height: 580px;
  padding-top: 185px;

  @media #{$medium-up} {
    height: 700px;
    padding-top: 180px;
  }

  @media #{$large-up} {
    margin: 13px;
    padding-top: 220px;
  }

  @media #{$xlarge-up} {
    padding-top: 200px;
  }

  h1 {
    margin-bottom: 1rem;

    @media #{$medium-up} {
      font-size: 3.75rem;
    }
  }

  p {
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;

    @media #{$medium-up} {
      margin: 1rem auto 2.5rem;
      line-height: 0.9;
      font-size: 20px;
    }
  }

  .button {
    margin-bottom: 1.9rem;

    &:hover,
    &:focus,
    &:active {
      background: linear-gradient(320deg, transparent 5px, color(charcoal) 5px);
      color: color(white);
    }
  }

  .social {

    a {
      color: color(black);
      font-size: 1.5rem;

      &:hover,
      &:focus,
      &:active{
        color: color(black);
        opacity: 0.8;
      }
    }
  }
}
