
// Featured Projects

.featured-projects {
  margin: -110px 0 100px 0;
  padding: 65px 0 0 0;

  .project {
    //@include background(linear-gradient(320deg, transparent 13px, #ffffff 13px));
    background: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: auto auto 20px;
    padding: 5px;
    max-width: 400px;
    display: block;
    position: relative;

    .project-hover {
      display: none;
    }

    @media #{$large-up} {

      .project-hover {
        display: none;
        position: absolute;
        background: image-url('pattern.png') repeat scroll 0 0 rgba(0, 0, 0, 0.5);
        width: 70%;
        height: 65%;
        margin: auto;
        left: 0;
        right: 0;
      }

      .project-hover .content {
        color: #fff;
        font-family: $font-family;
        font-size: 1rem;
        line-height: 1.2;
        margin-top: 38%;
        text-align: center;
        opacity: .98;

        span {
          display: block;
          font-size: 1.4rem;
        }
      }
    }

    &:hover,
    &:focus,
    &:active {
      cursor: pointer;
    }

    h4 {
      //@include background(linear-gradient(320deg, transparent 13px, #ffffff 13px));
      color: #3f3f3f;
      font-family: $font-bold, sans-serif;
      font-size: 1.09rem;
      font-weight: 700;
      margin: 2px 0;
      padding: 10px;

      @media #{$large-up} {
        font-size: 1.3rem;
      }
    }
  }
}
